<!DOCTYPE html>
<html>
    <body>

        <a href="/app/generateRunningPlaylist">Generate a running playlist</a>
        <a href="/app/updatePodcastPlaylist">Clear out fully played podcast episodes</a>

    </body>
</html>